.buttons {
     width: 200px;
     height: 50px;
border-radius: 45px;
padding:10px 30px;
cursor: pointer;
background-image:linear-gradient( to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
color: white;
text-align: center;
cursor: pointer;
}