.getStartedBtn {
    width: 200px;
    border-radius: 45px;
padding:10px 30px;
cursor: pointer;
background-image:linear-gradient( to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
/* linear-gradient(red, yellow); */
border: 0;
outline: none;
color: white;
position: absolute;
bottom: -50px;
right: 25%;
transform: translate(-25%);
}