@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
body {
    background-color: hsl(217, 28%, 15%);
}
main {
    display: inline-block;
    width: 1400px;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 400px;
   
}
.top-nav {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.top-nav>img {
    margin-left: 50px;
   
    display: inline-block;
    float: left;
}
.nav-texts {
    margin-top: 1px;
    margin-right: 50px;
}
.top-nav-text {
    color: white;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 50px;
    display: inline-block;
    float: right;
}
.hero {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100vh;   
}
.hero-container{
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-top: 90px;
    text-align: center;
    align-content: center;
   
    
}
.hero-text-area {
    margin-top: 30px;
    text-align: center;
    position: relative;
    
}
.hero-text-area >p {
width: 70%;
margin-left: 15%;
}
.hero-image > img {
    width: 60%;
}
.get-started-btn {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;

}


.middle-section {
    display: inline-block;
    width: 100%;
    height: 80vh;
   background: transparent
}
.middle-container {
    color: white;
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    text-align: center;
    align-content: center;
    margin-top: 120px;
}
.main-top-row {
    display: inline-block;
    width: 100%;
}
.top-left-column {
    width: 45%;
    display:inline-block;
    float: left;
    margin-bottom: 50px;
}
.top-right-column {
    margin-bottom: 50px;
    width: 45%;
    display:inline-block;
    float: right;
   
}
.main-column-texts {
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottom-section {
    display: inline-block;
    width: 100%;
    height: 150vh;
   
}
.bottom-container {
    color: white;
    margin-top: 130px;
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    text-align: center;
    align-content: center;
}
.bottom-left-column {
    display: inline-block;
    width: 60%;
    float: left;
}
.bottom-left-column > img {
    display: inline-block;
    width: 100%;
    float: left;
}
.bottom-right-column {
    text-align: left;
    display: inline-block;
    width: 40%;
    float: right;
    margin-top: 70px;
}
.bottom-right-column>a {
    text-decoration: underline;
    color: #66e2da;
    display: inline-block;
    float: left;
    margin-top: 20px;
}
.bottom-right-column > i > img {
    margin-top: 20px;
    margin-left: 5px;
}
.quate {
    position: absolute;
    top: 11px;
    left: -9px;
    z-index: -1;
}
.review-column {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: 1;
    color: white;
}
.reviews {
  
    margin-top: 20px;
    padding-right: 30px;
    display: inline-block;
    width: 33%;
    float: left;
    padding-left: 30px;
    background-color: #21293c;
    margin-top: 50px
}
/* .reviews>p {
    margin-top: 10px;
} */
.profile-img {
    width: 10%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    display: inline-block;
    float: left;
}
.profile-block {
    display: inline-block;
    width: 100%;
}
.profile-block > img* {
   
}
.profile-name {
    
    width: 70%;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 12px;
}
.bottom-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 15px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    right: -20%;
    transform: translate(-20%)
}
.bottom-button {
    width: 30%;
    height: 30px;
    display: inline-block;
    float: right;
    margin: 0;
    
}

footer {
width: 100%;
display: inline-block;
height: 50vh;
background-color: hsl(216, 53%, 9%);
position: relative;
}
.footer-container {
    display: inline-block;
color: white;
width: 1300px;
margin-left: calc((100% - 1300px) / 2);
margin-top: 8%;
position: relative;

}
.form-container {
    text-align: center;
    color: white;
    width: 600px;
    height: 170px;
    margin-left: calc((100% - 600px) / 2);
    background:#1c2230;
    border: black 1px solid;
    position: absolute;
    top: -100px;
    display: inline-block;
}

.footer-logo{
margin-bottom: 30px;
margin-left: 40px;
}
.location-icon {
    position: absolute;
    top: 85px;
    left: 6px;
}
.footer-text {
    width: 30%;
    display: inline-block;
    height: 50%;
    margin-right: 70px;
    margin-left: 40px;
}
.contact-section {
    width: 15%;
    display: inline-block;
    margin-right: 70px;
   
}
.contact-section > p {
    margin-bottom: 10px;
}
.navigation {
    width: 15%;
    display: inline-block;
    margin-right: 70px;
    
}
ul {
    
    display:inline-block;
    list-style: none;
  
    padding-left: 20px;
  
}

.social-icons {
    display: inline-block;
    width: 15%;
    padding-top: 5px;  
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-right: 30px;
   
}
.email-icon {
    position: absolute;
    top: 120px;
    left: 465px;
}
.phone-icon {
    position: absolute;
    top: 85px;
    left: 465px;
}

.social-icons > .fa {
    color: white;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    border: solid 1px white;
}

a {
    color: white;
}
img { max-width: 100%; height: auto; }
/* " <p> Orientaciniai ekranų pločiai (px):
    320
    480
    768
    960
    1200
    1400
    </p> */

