@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
.section {
    margin-left: 2.5%;
    margin-top: 50px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-color: hsl(218, 28%, 13%)
}
header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: hsl(217, 28%, 15%);
}
    .header-container {
      width: 95%;
      height: 100%;
      display: block;
      margin: 0 auto;
 }
 .logo-container {
    height: 100%;
    width: 150px;
    float: left;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
    .navigation a {
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        
    }
        .navigation a li {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            color: white;
            position: relative;
        }
    .logo-container > img {
            width: 100%;
            height: 40px;
        }

.hero {
    width: 100%;
    background-color: hsl(217, 28%, 15%);
    position: relative;
}
.hero-container {
    margin-left: 2.5%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
    .hero .hero-image {
    width: 90%;
    max-width: 600px;
    margin-top: 50px;
   
}

        .hero .hero-container .hero-image img {
        width: 100%;
}
    .hero-text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
        .hero-text-box .hero-heading h2 {
            margin-top: 30px;
        }
        .hero-text-box .hero-text p {
            width: 80%;
            margin: 30px auto;
        }
.hero .hero-container .hero-btn{
    margin-top: 30px;
}

.services {
    text-align: center;
    margin-top: 100px;
}
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    color: white;
}
.services .service img {
    width: 80px;
    height: 80px;
}
.service > h2 {
    margin: 20px 0;
}

.presentation {
    margin-top: 100px;
}

.presentation .presentation-image {
    width: 90%;
    max-width: 600px;
}
.presentation .presentation-image > img {
    width: 100%;
}

.presentation .presentation-text-box {
    margin-top: 50px;
    color: white;
}
.presentation .presentation-text-box h2 {
    margin: 20px 0;
}
.presentation .presentation-text-box p {
    margin-bottom: 20px;
}
.presentation .presentation-text-box a {
    color: aqua;
    text-decoration: underline;
}
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    padding-bottom: 200px;
    color: white;
    
}
.testimonials .testimonial {
    width: 90%;
    max-width: 400px;
    height: 200px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    margin: 30px 0;
}
.testimonials .testimonial:nth-child(4) {
    margin-bottom: 40px;
    
}
.testimonial-texts{
    margin: 30px 10px;
}
.avatar-info {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
.testimonials .testimonial .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* position: absolute; */
    bottom: 0;
    left: 0;
}
.sub {
    width: 90%;
    max-width: 340px;
    height: 340px;
    border-radius: 5%;
    background-color: hsl(217, 28%, 15%);
    border: 1px solid black;
    margin: 20px auto;
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    top: -28%;
    transform: translateX(-50%);
}
.sub-texts {
   padding: 0 10px;
   margin-bottom: 30px;
}
.sub-texts h2 {
    margin-bottom: 30px;
}
form {
    width: 90%;
}
.input {
  width: 100%;
    height: 50px;
}
.sub-btn {
    height: 50px;
    width: 90%;
    margin-top: 30px;
}

footer {
    background-color: hsl(216, 53%, 9%);
    color: white;
    width: 100%;
    position: relative;
}
footer .footer-logo {
    width: 100%;
    padding: 20px 20px;
    padding-top: 185px;
}
footer .footer-content {
    width: 70%;
    margin-left: 15%;
}
footer .footer-content p {
    margin: 10px 0;
}

footer .footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 25px;
}
footer .footer-nav a {
    margin-bottom: 20px;   
}
footer .footer-nav a:nth-child(4) {
    margin-top: 30px;
}
.socials {
    width: 100%;
    text-align: center;
}
.socials a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    border: 1px solid white;
    margin: 20px 5px;
}
@media (min-width:850px) {
    .presentation {
        flex-direction: row;
    }
    .presentation .presentation-image img{
        width: 90%;
    }
    .service {
        width: 40%;
        margin: 15px 38px;
    }
    .services {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.testimonials {
flex-direction: row;
justify-content: space-between;
}
.testimonials .testimonial {
width: 28%;
height: fit-content;
min-height:220px;
max-height: fit-content;


}
    
}