
@media (max-width:1200px) {
    main{
        width:1200px ;

    }
    .top-nav {
        width: 100%;}
}
@media (max-width:960px) {
    main{
        width:960px ;

    }
    .top-nav {
        width: 100%; }

        .top-nav>img {
            width: 20%;
            padding: 10px;
            
        }
       .nav-texts {
            width: 80%;
           
           
        }
        .top-nav-text {
           width: 20%;
            display: inline-block;
            float: right;
       
        }
}
@media (max-width:768px) {
    main{
        width:768px ;
        margin: 0;

    }
   
    .top-nav {
        width: 100%;}

}
@media (max-width:480px) {
    main{
        width:100% ;

    }
    .top-nav {
        width: 100%;
        display:inline-block;
    }
        .top-nav>img {
            width: 25%;
          margin-right: 5px;
          margin-left: 10px;
            display:inline-block
            
        }
        .nav-texts {
            width: 65%;
            display:inline-block;
            float: left;
            margin: 0;
            margin-top: 10px;
            margin-right: 5px;
           
        }
        .top-nav-text {
            display:inline-block;
            margin: 0;
            margin-right: 10px;
            
       
        }
        

    .hero-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
        margin-top: 20px;
    }
    .middle-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
    }
    .bottom-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
    }
    .bottom-left-column > img {
        width: 150px;
    }
    .form-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
    }
    .bottom-left-column {
        width: 100%;
    }
    .bottom-right-column {
        width: 100%;
    }
    .main-left{
        width: 100%;
    }
    .main-right {
        width: 100%;
    }
    .reviews {
        width: 100%;
    }
    .footer-nav {
        width: 100%;
    }
}
@media (max-width:375px) {
    main{
        width:375px ;
    }
    .top-nav {
        width: 375px;}

    .hero-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .middle-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .bottom-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .bottom-left-column {
        display: block;
        width: 60%;
    }
    .form-container {
        width: 200px;
        margin-left: calc((100% - 600px) / 2);
    }
    .main-left{
        width: 100%;
    }
    .main-right {
        width: 100%;
    }
    .reviews {
        width: 100%;
    }
    .footer-nav {
        width: 100%;
    }
}
@media (max-width:320px) {
    main{
        width:320px ;

    }
    .top-nav {
        width: 320px;}
    .hero-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .middle-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .bottom-container {
        width: 200px;
        margin-left: calc((100% - 200px) / 2);
    }
    .bottom-left-column {
        display: block;
        width: 60%;
    }
    .form-container {
        width: 200px;
        margin-left: calc((100% - 600px) / 2);
    }
    .main-left{
        width: 100%;
    }
    .main-right {
        width: 100%;
    }
    .reviews {
        width: 100%;
    }
    .footer-nav {
        width: 100%;
    }
}